**/target
**/**/target
**/build
**/.svn
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBean
**/*.iml
**/*.idea
**/.externalToolBuilders
**/src.test-output

/target
/build
/.svn
/bin/
/.classpath
/.project
/.settings
/.springBean
/*.iml
/*.idea
/.externalToolBuilders
/src.test-output

**/gen-java

*.iml

**/rebel-remote.xml
**/rebel.xml
.DS_Store
